[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/imgui/imgui-repo"]
	path = deps/imgui/imgui-repo
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/DXErr"]
	path = deps/DXErr
	url = https://github.com/NeoWise69/dxerr-multibyte.git
